<div>
  <div>
    <select>
    <option selected="1" value="Length">Länge</option>
    <option value="Volume">Volume</option>
  </select>
  </div>
  <div>
  <input>
  <select>
    <option>kilometre</option>
    <option selected="1">Meter</option>
    <option>Centimeter</option>
    <option>Millimetre</option>
    <option>micrometres</option>
    <option>Nanometre</option>
    <option>Mile</option>
    <option>Yard</option>
    <option>Foot</option>
    <option>Inch</option>
    <option>Nautical mile</option>
  </select>
</div>
  <div>=</div>
  <div>
    <input>
    <select>
      <option>kilometre</option>
      <option>Meter</option>
      <option selected="1">Centimeter</option>
      <option>Millimetre</option>
      <option>micrometres</option>
      <option>Nanometre</option>
      <option>Mile</option>
      <option>Yard</option>
      <option>Foot</option>
      <option>Inch</option>
      <option>Nautical mile</option>
    </select>
  </div>
</div>
